<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 text-lg">
      <p
        class="text-3xl lg:col-span-3 lg:text-5xl lg:leading-9 indent-16 lg:indent-9"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        Nuestros servicios están diseñados para ofrecerte una carta de presentación impactante que refleje tu marca y te permita aprovechar las oportunidades para tu negocio. Nuestras soluciones digitales innovadoras impulsan el crecimiento y la visibilidad de tu empresa en el mundo online
      <!-- 
        Nuestros servicios están diseñados para ofrecerte una carta de presentación impactante que proyecte la esencia de tu marca y permita alcanzar las mejores oportunidades para tu negocio.
         -->
        <br>
      </p>
      <p
        class="text-3xl lg:col-span-4 lg:text-5xl lg:leading-9 indent-16 lg:indent-9"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        Las soluciones digitales que ofrece el Kit Digital están orientadas a pequeñas empresas, microempresas y trabajadores autónomos de cualquier sector o tipología de negocio. Te ayudamos a digitalizar tu empresa y mejorar su competitividad en el mercado
        <!--Las soluciones digitales que proporciona el Kit Digital están orientadas a pequeñas empresas, microempresas y trabajadores autónomos, que pertenezcan a cualquier sector o tipología de negocio.-->
        <br>
        <br>
      </p>
      <p
        class="text-2xl leading-relaxed
        lg:leading-8
        indent-16 lg:indent-9"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
      <!--  underline underline-offset-4 -->
      Información y Resolución de Dudas: Te informamos y resolvemos todas las dudas que tengas sobre el proceso del Kit Digital
      </p>
      <p
        class="text-2xl leading-relaxed
        lg:leading-8
        indent-16 lg:indent-9"
        data-aos="fade-up"
        data-aos-duration="2500"
        data-aos-delay="150"
      >
      Asistencia en la Adhesión: Te ayudamos a completar todos los pasos necesarios para adherirte al programa y a realizar todos los trámites
      </p>
      <p
        class="text-2xl leading-relaxed
        lg:leading-8
        indent-16 lg:indent-9"
        data-aos="fade-up"
        data-aos-duration="2500"
        data-aos-delay="300"
      >
      Orientación Personalizada: Te presentamos nuestras soluciones y te orientamos hacia la que mejor se adapta a las necesidades de tu empresa
      </p>
      <p
        class="text-2xl leading-relaxed 
        lg:leading-8
        indent-16 lg:indent-9"
        data-aos="fade-up"
        data-aos-duration="2500"
        data-aos-delay="450"
      >
      Implementación de Soluciones: Desarrollamos e implementamos la solución digital en tu empresa
      </p>
      <p 
      
      class="
       lg:col-span-3 lg:col-start-2 lg:mt-12 
       text-4xl lg:text-7xl lg:leading-14 indent-16 lg:indent-9"
      data-aos="fade-up"
      data-aos-duration="3000">
      Desarrollamos e implementamos la solución digital en tu empresa
      </p>
    </div>
  </div>
</section>
