<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 text-lg">
      <p
        class="text-3xl leading-7 lg:col-span-3 lg:text-5xl lg:leading-9 indent-22 lg:indent-9"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        Nuestros servicios están diseñados para ofrecerte una carta de presentación impactante que proyecte la esencia de tu marca y permita alcanzar las mejores oportunidades para tu negocio.
      </p>
      <p
        class="text-3xl leading-7 lg:col-span-3 lg:text-5xl lg:leading-9 indent-22 lg:indent-9"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        Las soluciones digitales que proporciona el Kit Digital están orientadas a pequeñas empresas, microempresas y trabajadores autónomos, que pertenezcan a cualquier sector o tipología de negocio.
        <br><br>
      </p>
      <p
        class="text-lg lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
      <!--  underline underline-offset-4 -->
      Te informamos y resolvemos todas las dudas que tengas sobre el proceso
      </p>
      <p
        class="lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
        data-aos-delay="350"
      >
      Te ayudamos a que completes todos los pasos para adherirte al programa
      </p>
      <p
        class="lg:col-start-1 leading-relaxed "
        data-aos="fade-up"
        data-aos-duration="3000"
      >
      Te presentamos nuestras soluciones y te orientamos hacia la que mejor se adapta a tu empresa.
      </p>
      <p
        class="lg:col-start-3 leading-relaxed "
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="350"
      >
      Te ayudamos a realizar todos los trámites para solicitar tu bono Kit Ditital
      </p>
      <p  class="text-3xl leading-6 lg:col-span-3 lg:text-7xl lg:leading-13 lg:col-start-2 lg:mt-12 indent-22 lg:indent-9"
      data-aos="fade-up"
      data-aos-duration="3000">
      Desarrollamos y/o implementamos la solución digital en tu empresa.
      </p>
    </div>
  </div>
</section>
