---
const testimonials = [
{
    name: "Sitio Web y Presencia en Internet",
    name2: "Diseño y desarrollo de Webs a medida:",
    anchor: "sitioweb",
    price: "Precios de 800€ a 2.500€",
    price2: "Hasta 2.000€ de subvención con el Kit Digital",
    info:
      [
        "Optimización SEO",
        "Optimización de carga",
        "Diseño y gestión e-mail Marketing",
        "Dominio, Hosting y correo"
      ]
  },
  {
    name: "Comercio Electrónico",
    name2: "Diseño y desarrollo e-commerce a medida:",
    anchor: "comercioelectronico",
    price: "Precios de 1.200€ a 3.000€",
    price2: "Hasta 2.000€ de subvención con el Kit Digital",
    info:
      [
        "Programación funcional a medida o bajo paquete WooCommerce",
        "Integración de métodos de pago",
        "Integración venta en redes sociales",
        "Integración operadores logísticos",
        "Dominio, Hosting y correo"
      ]
  },
  {
    name: "Gestión de Redes Sociales",
    name2: "Diseño de la estrategia y uso:",
    anchor: "rrss",
    price: "Precios de 600€ a 3.200€",
    price2: "Hasta 2.500€ de subvención con el Kit Digital",
    info:
      [
        "Creación y configuración de cuentas",
        "Gestión de las redes: agenda y publicaciones",
        "Diseño de protocolos de comunicaciones",
        "Gestión de la reputación"
      ]
  },
];
// Function to calculate `data-aos-duration` based on index
function calculateAosDuration(index) {
  return 1500 + index * 500; // Example: Increment duration by 500ms for each project
}
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto my-6">
    <div class="mt-6 mb-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>Soluciones</span>
        <span class="font-bold">Kit Digital</span>
      </h3>
    </div>
    <div class="flex flex-col text-secondary mt-24 gap-12 lg:gap-32">
      { testimonials.map((opinion, index) => (
        <div id={opinion.anchor} class="grid grid-cols-1 lg:items-end lg:grid-cols-4 mb-24 gap-4">
          <div data-aos="fade-left"
         data-aos-duration={calculateAosDuration(index)} class="lg:col-span-3">
              <p class="text-3xl lg:text-7xl leading-6 lg:leading-13">{ opinion.name }</p>
              <p class="text-3xl  mt-3 leading-6 indent-9">{ opinion.name2 }</p>
              <ul>
                {opinion.info.map((info, subIndex) => (
                  <li class="flex gap-x-3">
                    <svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" data-darkreader-inline-fill="" style="--darkreader-inline-fill: currentColor;"><path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                    </svg>
                    { info }
                  </li>
                ))}
              </ul>
          </div>
          <p class="italic text-xs block ">
            {opinion.price}<br>{opinion.price2}
          </p>
         </div>
        ))
      }
    </div>
  </div>
</section>
